@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-background-dark: var(--background);
  --color-surface: var(--surface);
  --color-surface-light: var(--surface-light);
  --color-text-main: var(--foreground);
  --color-text-muted: var(--text-muted);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Light Mode Variables */
  --background: #ffffff;
  --foreground: #111111;
  --surface: #f3f4f6; /* gray-100 */
  --surface-light: #e5e7eb; /* gray-200 */
  --primary: #e53935;
  --primary-hover: #d32f2f;
  --text-muted: #4b5563; /* gray-600 */
}

.dark {
  /* Dark Mode Variables */
  --background: #111111;
  --foreground: #ffffff;
  --surface: #1e1e1e;
  --surface-light: #2c2c2c;
  --primary: #e53935;
  --primary-hover: #d32f2f;
  --text-muted: #a0a0a0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.3s ease, color 0.3s ease;
}